[Desktop Entry]
Name=wpeek
Comment=Screen area recorder for GNOME Wayland
Exec=/usr/bin/python3 -m wpeek
Icon=wpeek
Terminal=false
Type=Application
Categories=AudioVideo;Video;Recorder;
Keywords=screencast;recording;gif;video;
StartupNotify=true
X-GNOME-Introspect=true
